{% extends 'base.html.twig' %}

{% block body %}
    <div id="page-wrapper">

        {{ include('front/header.html.twig') }}

        {{ include('front/menu.html.twig') }}

        {{ include('front/banner.html.twig') }}

        {% for experience in experiences %}
            {% set front = false %}
            {{ include('front/_experience.html.twig') }}
        {% endfor %}

        {{ include('front/footer.html.twig') }}

    </div>
{% endblock %}
