{% extends 'base.html.twig' %}

{% block body %}
    <div id="page-wrapper">

        {{ include('front/header.html.twig') }}

        {{ include('front/menu.html.twig') }}

        {{ include('front/banner.html.twig') }}

        {{ include('front/portfolio.html.twig', {
            all: true
        })}}

        {{ include('front/footer.html.twig') }}

    </div>
{% endblock %}
