<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Abdouni Abdelkarim{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
            <noscript>
                <link rel="stylesheet" href="{{ asset('css/noscript.css') }}" />
            </noscript>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div id="page-wrapper">

                {{ include('_inc/_header.html.twig') }}

                {{ include('_inc/_menu.html.twig') }}

                {{ include('_inc/_banner.html.twig') }}

                {% block content %}{% endblock %}

                {{ include('_inc/_footer.html.twig') }}

            </div>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/browser.min.js') }}"></script>
            <script src="{{ asset('js/breakpoints.min.js') }}"></script>
            <script src="{{ asset('js/util.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
